.about {
  display: flex;
  gap: 5.5%;
  justify-content: center;
  padding: 70px 0px 157px;
  max-width: 1440px;
  position: relative;
}

.about__photo {
  width: 31.25%;
  margin-top: 48px;
  background-image: url('../../images/aboutPhoto.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.about__info {
  width: 653px;
  width: 45.34%;
}

.about__title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 102px;
  line-height: 80px;
  margin-bottom: 50px;
  font-family: Playfair Display;
  font-weight: 700;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about__para {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #967675;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: justify;
  font-family: Montserrat;
  font-weight: 300;
}

@media screen and (max-width: 1000px) {
  .about__para_last {
    position: relative;
    width: 85vw;
    left: -86.75%;
  }

  .about__photo {
    margin-top: -30px;
  }
  .about__title {
    font-size: 60px;
    line-height: 70px;
  }
}

@media screen and (max-width: 850px) {
  .about__photo {
    margin-top: 0;
  }

  .about__para {
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (max-width: 700px) {
  .about {
    padding: 30px 7.5% 100px 7.5%;
    flex-direction: column;
  }

  .about__para{
    width: 100%;

  }
  .about__info {
    width: 100%;
  }

  .about__para_last {
    position: static;
    width: 100%;
  }

  .about__title {
    text-align: center;
    width: 100%;
    margin-top: 40px;
  }

  .about__photo {
    width: 100%;
    height: 380px;
    align-self: center;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0;
  } 
}

@media screen and (max-width: 400px) {
  .about {
    padding: 30px 25px 50px;
  }

  .about__photo {
    height: 300px;
  }

  .about__title {
    font-size: 48px;
    line-height: 48px;
  }

  .about__para {
    font-size: 20px;
    line-height: 23px;
    text-align: start;
  }
}
