.decor {
  display: flex;
  gap: 262px;
  gap: 20%;
  justify-content: center;
  max-width: 1440px;
  position: relative;
}

.decor__line {
  display: inline-block;
  width: 31.54%;
  height: 1px;
  background-color: #967675;
  opacity: 0.6;
}
