.header {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-top: 23px;
  padding-right: 125px;
  padding-left: 125px;
  box-sizing: border-box;
  height: 179px;
  border-bottom: 1px solid #ededed;
}

.header__logo {
  background: url('../../images/Logo.jpg');
  width: 217px;
  height: 93px;
  align-self: center;
}

.header__nav {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.header__links {
  list-style: none;
  display: flex;
  gap: 75px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  margin-top: 10px;
}

.header__link {
  color: #23242c;
  text-decoration: none;
  border-bottom: 1px solid white;
  transition: all 0.3s linear;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
}

.header__link:hover {
  border-bottom: 1px solid #23242c;
}

.header__lang-toggle {
  position: absolute;
  right: 0;
  margin-top: 10px;
}

.header__lang-btn {
  background-color: transparent;
  border: none;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-bottom: 1px solid white;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 0 5px;
}

.header__lang-btn:hover {
  border-bottom: 1px solid #23242c;
}

@media screen and (max-width: 1440px) {
  .header {
    width: 100%;
    padding-left: 20px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .header__links {
    gap: 65px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    height: auto;
    padding-right: 20px;
  }

  .header__nav {
    flex-direction: column;
    align-items: center;
  }

  .header__lang-toggle {
    position: static;
    margin: 20px 0;
  }

  .header__link {
    font-size: 15px;
  }

  .header__lang-btn {
    font-size: 15px;
  }
}

@media screen and (max-width: 550px) {
  .header__links {
    gap: 25px;
  }
}

@media screen and (max-width: 460px) {
  .header {
    height: auto;
    padding-right: 0;
    padding-left: 0;
  }

  .header__links {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .header__lang-toggle {
    margin: 20px 0;
    text-align: center;
  }
}
