.header {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-top: 23px;
  padding-right: 125px;
  padding-left: 125px;
  box-sizing: border-box;
  height: 179px;
  border-bottom: 1px solid #ededed;
}

.header__logo {
  background: url('../../images/Logo.jpg');
  width: 217px;
  height: 93px;
  align-self: center;
}

.header__nav {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.header__links {
  list-style: none;
  display: flex;
  gap: 75px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.header__link {
  color: #23242c;
  text-decoration: none;
  border-bottom: 1px solid white;
  transition: all 0.3s linear;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}

.header__link:hover {
  border-bottom: 1px solid #23242c;
}

.header__lang-toggle {
  position: absolute;
  right: 0;
}

.header__lang-btn {
  background-color: transparent;
  border: none;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}
