.intro {
  display: flex;
  padding: 112px 0px 112px;
  gap: 3.38%;
  justify-content: center;
  position: relative;
  max-width: 1440px;
}

.intro__image {
  height: 633.97px;
  width: 47.85%;
  background-image: url('../../images/introImage.png');
  background-position: center;
  background-size: contain;
  background-size: 100%;
  background-repeat: no-repeat;
}

.intro__info {
  display: flex;
  flex-direction: column;
  gap: 44px;
  color: #2c2d34;
  width: 33.72%;
}

.intro__title-area {
  position: relative;
}

.intro__title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 102px;
  line-height: 102px;
  font-family: Playfair Display;
  font-weight: 700;
  z-index: 3;
}

.intro__text {
  margin-block-start: 0;
  margin-block-end: 0;
  width: 80%;
  color: #967675;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  font-family: Montserrat;
  font-weight: 300;
}

@media screen and (max-width: 1250px) {
  .intro__image {
    margin-top: 50px;
  }
} 

@media screen and (max-width: 1180px) {
  .intro__image {
    margin-top: 100px;
  }
} 

@media screen and (max-width: 1000px) {
  .intro {
    padding: 112px 0px 0px;
  }

  .intro__info {
    margin-top: 0px;
  }

  .intro__image {
    background-position: top;
    margin-top: 0;
  }

  .intro__text {
    width: 120%;
  }

  .intro__title {
    font-size: 60px;
    line-height: 70px;
  }

} 

@media screen and (max-width: 850px) {
  .intro__text {
    font-size: 20px;
    line-height: 23px;
    text-align: left;
  }
}

@media screen and (max-width: 700px) {
  .intro {
    padding: 30px 7.5% 0;
    flex-direction: column-reverse;
  }

  .intro__image {
    width: 72%;
    max-height: 420px;
    align-self: center;
  }

  .intro__title {
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .intro__text {
    font-size: 20px;
    line-height: 23px;
    text-align: start;
    width: 100%;
    align-self: center;
  }

  .intro__info {
    gap: 20px;
    margin-top: 10px;
    width: 100%;
  }
}


@media screen and (max-width: 650px) {
  .intro__title {
    margin: -40px 0 20px;
    text-align: left;
    align-self: center;
    
  }
}

@media screen and (max-width: 500px) {
  .intro__image {
    height: 285px;
  }

  .intro__title {
    margin-top: 30px;
    width: 280px;
  }
}

@media screen and (max-width: 400px) {
  .intro__title {
    margin-top: -45px;
    margin-bottom: 40px;
   
  }

  .intro__text {
    font-size: 0px;
    line-height: 0px;
    width: 0%;
    
  }
}

@media screen and (max-width: 330px) {
  .intro {
    padding: 30px 2% 0;
    flex-direction: column-reverse;
  }
}
